.dashboard {
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
    gap: 0px;
    position: relative;
  }

.intro{
    padding: 5px 20px;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
    background-color: #00000051;
    margin: 10px 0;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0 0 12px #05000042;
    backdrop-filter: blur(20px);
    font-weight: 600;
    color: #fffdfc;
}
.show{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 75vh;
    background: url('../../img/family.jpg') no-repeat center/cover;
    backdrop-filter: contrast(20%);
    animation: show 20s ease-in-out infinite;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px 0;
    margin: 10px 0;
}

@keyframes show {
    20%{
        background: url('../../img/education.jpg') no-repeat center/cover;
    }
    40%{
        background: url('../../img/health.jpg') no-repeat center/cover;
    }
    60%{
        background: url('../../img/group.jpg') no-repeat center/cover;
    }
  }

.targetScore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin: 20px;
    margin-right: 60px;
    
  }
  
  .scoreCircle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #e0e0e0;
    box-shadow: 0 0 20px #333333aa;
    display: flex;
    flex-direction: column;
  }

  .scoreText{
    font-size: small;
  }
  
  .scoreCircle::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: #4caf50;
    transform: rotate(45deg);
    animation: rolate 0.5s ease-in-out;
    transition: all;
  }

  .usersList {
    width: calc(100% - 10px);
    max-height: 40vh;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.999);
    border-radius: 20px;
  }
  
  .usersList h3 {
    margin-bottom: 10px;
  }
  
  .usersList ul {
    list-style-type: none;
    padding: 0;
  }
  
  .usersList li {
    padding: 10px;
    background-color: #f4f4f4;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
    .targetScore {
      flex: 1 1 100%;
    }
  
    .usersList {
      flex: 1 1 50%;
    }

  @keyframes rolate {
    100%{
        transform: rotate(360deg);
    }
  }
  .scoreText {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  


  
  @media (max-width: 1025px) {
    .dashboard {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .show {
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 0;
        padding: 75px 0px;
        background-color: #efefef;
        border-radius: 0px 0px 50px 50px;
        background: url('../../img/family.jpg') no-repeat center/cover;
        backdrop-filter: contrast(20%);
        animation: show 20s ease-in-out infinite;
      }


        
  
  @keyframes show {
    20%{
        background: url('../../img/education.jpg') no-repeat center/cover;
    }
    40%{
        background: url('../../img/health.jpg') no-repeat center/cover;
    }
    60%{
        background: url('../../img/group.jpg') no-repeat center/cover;
    }
  }
  
  .targetScore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
  }
  
  .scoreCircle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #e0e0e0;
    box-shadow: 0 0 20px #333333aa;
  }
  
  .scoreCircle::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: var(--secondary);
    transform: rotate(45deg);
    animation: rolate 0.5s ease-in-out;
    transition: all;
  }

  @keyframes rolate {
    100%{
        transform: rotate(360deg);
    }
  }
  .scoreText {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .usersList {
    width: calc(100% - 10px);
    max-height: 40vh;
    overflow-y: scroll;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.999);
    border-radius: 20px;
  }
  
  .usersList h3 {
    margin-bottom: 10px;
  }
  
  .usersList ul {
    list-style-type: none;
    padding: 0;
  }
  
  .usersList li {
    padding: 10px;
    background-color: #f4f4f4;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
    .targetScore {
      flex: 1 1 100%;
    }
  
    .usersList {
      flex: 1 1 50%;
    }
  }
  

  .list{
    display: flex;
    height: 80px;
    flex-direction: row;
    background-color: #bef8ff;
    align-items: center;
    box-shadow: 0px 0px 15px #00000039;
    justify-content: space-between;
    padding: 20px 20px;
  }
  @media (min-width: 768px){
    .subContact{
      position: absolute;
      height: calc(100% - 10vh);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      right: -20px;
    }
  
  }
  
  :where(.notification){
    width: 50px;
    height: 50px;
    background-color: none;
    border-radius: 100px;
    /* box-shadow: 0px 0px 15px #0000008d; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }

  :where(.notification) i {
    font-size: 1.7rem;
    color: #ececec;
  }
  :where(.notification) p{
    font-size: 0.5em;
    font-weight: 700;
    position: absolute;
    bottom: -12px;
    
  }
  @media (max-width: 768px) {
    .subContact{
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      top: 10px;
    }
  }