.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settingsItems{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-height: 79vh;
  overflow: hidden;
  margin: 30px 0;
  padding: 20px;
}

.settingsItems .item{
  height: 23vh;
  box-shadow: 0px 0px 15px #00000086;
  border-radius: 10px;
  outline: none;
  position: relative;
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(#1c7dff, #0051c4);
  box-shadow: inset 0px 0px 20px #0000004e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: rgb(255, 255, 255);
}

.settingsItems .item .icon{
  font-size: 3em;
}


.settingsItems .item:nth-child(3)
{
  grid-column: span 2;
}

.settingsItems .item:last-child{
  background: linear-gradient(#ff641c, #c40000);
  grid-column: span 2;
}