.formContainer {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    max-height: 100vh;
    overflow-y: scroll;
  }
  
  .collapsibleSection {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  
  .collapsibleHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .collapsibleHeader:hover {
    background-color: #ff6161;
    color: #fff;
    font-size: 700;
  }
  
  .collapsibleHeader.active {
    background-color: #ff5a51;
    color: #fff;
    font-size: 700;
  }
  
  .icon {
    color: #6c757d;
    transition: transform 0.3s ease;
    font-size: 700;
  }
  
  .collapsibleContent {
    padding: 1rem;
    background-color: white;
    animation: slideDown 0.3s ease-out;
  }
  
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .formGroup {
    margin-bottom: 1rem;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  
  .formGroup input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }



 
  .tabContainer {
    display: flex;
    margin-bottom: 10px;
  }
  
  .tab {
    padding: 10px 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
  }
  
  .activeTab {
    padding: 10px 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
  }
  
  .iframe {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vh;
    overflow-y: scroll;
    flex-direction: column;

  }