.container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  background-color: #f8f9fa;
  color: #1a237e;
  padding: 20px;
  max-height: 95vh;
  overflow-y: scroll;
  margin: 50px 0;
}

h1,
h2,
h3 {
  color: #ff4444; 
  text-shadow: none;
  border-bottom: none;
  
}



.level {
  background: white;
  border-radius: 10px;
  padding: 25px;
  margin: 30px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.highlight {
  color: #b22222;
  font-weight: bold;
}

.termsList {
  margin-left: 20px;
  padding-left: 15px;
  border-left: 3px solid #1a237e;
}

.termsList li {
  margin: 15px 0;
}

.website {
  text-align: center;
  margin-top: 40px;
  padding: 15px 0;
  background-color: #ffe5e5;
  border-radius: 8px;
}

a {
  color: #1a237e;
  text-decoration: none;
  font-weight: bold;
  box-shadow: none;
}

a:hover {
  text-decoration: underline;
}

.comparisonTable {
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  scale: 0.9;
}

.comparisonTable th {
  background-color: #b22222;
  color: white;
  padding: 15px;
  text-align: left;
}

.comparisonTable td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.comparisonTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.noteSection {
  background-color: #ffe5e5;
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px;
}

