.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-height: 98vh;
  overflow-y: scroll;
}

.title {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.level {
  margin-bottom: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.level h2 {
  color: #2c3e50;
  margin-bottom: 15px;
}

.premium,
.benefits,
.terms {
  margin-bottom: 20px;
}

.premium h3,
.benefits h3,
.terms h3 {
  color: #34495e;
  margin-bottom: 10px;
}

.premium table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.premium th,
.premium td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.premium th {
  background-color: #f2f2f2;
}

.benefits ul,
.terms ol {
  padding-left: 20px;
}

.backButton {
  padding: 8px 16px;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  background: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.backButton:hover {
  background: #e0e0e0;
}


.benefits li,
.terms li {
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .title {
    font-size: 24px;
  }

  .level h2 {
    font-size: 20px;
  }

  .premium h3,
  .benefits h3,
  .terms h3 {
    font-size: 18px;
  }
}

